.App {
  text-align: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logout-text{
  color: #f44336;
}

.login-btn {
  outline: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  width: 80%;
  /*max-width: 140px;*/
  height: 50px;
  border-radius: 0.5em;
  box-shadow: 0 0.625em 1em 0 rgba(244, 67, 54, 0.35);
  overflow: hidden;
 }
 
 .login-btn  div {
  transform: translateY(0px);
  width: 100%;
 }
 
 .login-btn,
 .login-btn  div {
  transition: 0.6s cubic-bezier(.16,1,.3,1);
 }
 
 .login-btn  div  span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0.75em 1.125em;
  width: 100%;
 }
 
 .login-btn  div:nth-child(1) {
  background-color: #f44336;
  border-radius: 0.5em;
 }
 
 .login-btn  div:nth-child(2) {
  background-color: #04AA6D;
  border-radius: 0.5em;
 }
 
 .login-btn:hover {
  cursor: pointer;
  box-shadow: 0 0.625em 1em 0 rgba(4, 170, 109, 0.35);
 }
 
 .login-btn:hover  div {
  cursor: pointer;
  transform: translateY(-51px);
 }
 
 .login-btn p {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
 }
 
 .login-btn:active {
  transform: scale(0.95);
 }

/*
----------------------------------------------
*/
.logout-btn {
  outline: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 140px;
  height: 50px;
  border-radius: 0.5em;
  box-shadow: 0 0.625em 1em 0 rgba(4, 170, 109, 0.35);
  overflow: hidden;
  position: absolute;
  right: 10%;
  top: 10%;
 }
 
 .logout-btn > div {
  transform: translateY(0px);
  border-radius: 0.5em;
  width: 100%;
 }
 
 .logout-btn,
 .logout-btn > div {
  transition: 0.6s cubic-bezier(.16,1,.3,1);
 }
 
 .logout-btn > div > span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0.75em 1.125em;
 }
 
 .logout-btn > div:nth-child(1) {
  background-color:#04AA6D;
 }
 
 .logout-btn > div:nth-child(2) {
  background-color: #f44336;
 }
 
 .logout-btn:hover {
  cursor: pointer;
  box-shadow: 0 0.625em 1em 0 rgba(244, 67, 54, 0.35);
 }
 
 .logout-btn:hover > div {
  cursor: pointer;
  transform: translateY(-51px);
 }
 
 .logout-btn p {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
 }
 
 .logout-btn:active {
  transform: scale(0.95);
 }