.notofocation-page{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 8px;
}

.alert-containers{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.onlineText{
    color: #04AA6D;
}